In [1]:
import pandas as pd

from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.2.3'

In [3]:
#Load Taxi Green Trip Data

In [4]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows = 100)

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter=pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.77 s
Wall time: 10.1 s

1000

In [15]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 9.893 second
inserted another chunk..., took 10.375 second

C:\Users\RoyJC\AppData\Local\Temp\ipykernel_2220\1964414691.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 10.151 second
inserted another chunk..., took 7.131 second

StopIteration:

In [16]:
#Load Taxi Zone Data

In [17]:
df_zone = pd.read_csv('taxi_zone_lookup.csv', nrows = 300)

In [18]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [19]:
print(pd.io.sql.get_schema(df_zone, name = 'taxi_zones', con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [20]:
df_zone_iter=pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=1000)

In [21]:
df_zone = next(df_zone_iter)

In [22]:
len(df_zone)

265

In [23]:
df_zone.head(n=0).to_sql(name='taxi_zones', con=engine, if_exists='replace')

0

In [24]:
%time df_zone.to_sql(name='taxi_zones', con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 62.7 ms

265

In [25]:
while True:
    t_start = time()
        
    df_zone.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "LocationID" of relation "green_taxi_data" does not exist
LINE 1: INSERT INTO green_taxi_data (index, "LocationID", "Borough",...
                                            ^

[SQL: INSERT INTO green_taxi_data (index, "LocationID", "Borough", "Zone", service_zone) VALUES (%(index__0)s, %(LocationID__0)s, %(Borough__0)s, %(Zone__0)s, %(service_zone__0)s), (%(index__1)s, %(LocationID__1)s, %(Borough__1)s, %(Zone__1)s, %(service_zo ... 24363 characters truncated ... 63)s), (%(index__264)s, %(LocationID__264)s, %(Borough__264)s, %(Zone__264)s, %(service_zone__264)s)]
[parameters: {'Zone__0': 'Newark Airport', 'index__0': 0, 'LocationID__0': 1, 'Borough__0': 'EWR', 'service_zone__0': 'EWR', 'Zone__1': 'Jamaica Bay', 'index__1': 1, 'LocationID__1': 2, 'Borough__1': 'Queens', 'service_zone__1': 'Boro Zone', 'Zone__2': 'Allerton/Pelham Gardens', 'index__2': 2, 'LocationID__2': 3, 'Borough__2': 'Bronx', 'service_zone__2': 'Boro Zone', 'Zone__3': 'Alphabet City', 'index__3': 3, 'LocationID__3': 4, 'Borough__3': 'Manhattan', 'service_zone__3': 'Yellow Zone', 'Zone__4': 'Arden Heights', 'index__4': 4, 'LocationID__4': 5, 'Borough__4': 'Staten Island', 'service_zone__4': 'Boro Zone', 'Zone__5': 'Arrochar/Fort Wadsworth', 'index__5': 5, 'LocationID__5': 6, 'Borough__5': 'Staten Island', 'service_zone__5': 'Boro Zone', 'Zone__6': 'Astoria', 'index__6': 6, 'LocationID__6': 7, 'Borough__6': 'Queens', 'service_zone__6': 'Boro Zone', 'Zone__7': 'Astoria Park', 'index__7': 7, 'LocationID__7': 8, 'Borough__7': 'Queens', 'service_zone__7': 'Boro Zone', 'Zone__8': 'Auburndale', 'index__8': 8, 'LocationID__8': 9, 'Borough__8': 'Queens', 'service_zone__8': 'Boro Zone', 'Zone__9': 'Baisley Park', 'index__9': 9, 'LocationID__9': 10, 'Borough__9': 'Queens', 'service_zone__9': 'Boro Zone' ... 1225 parameters truncated ... 'Zone__255': 'Williamsburg (South Side)', 'index__255': 255, 'LocationID__255': 256, 'Borough__255': 'Brooklyn', 'service_zone__255': 'Boro Zone', 'Zone__256': 'Windsor Terrace', 'index__256': 256, 'LocationID__256': 257, 'Borough__256': 'Brooklyn', 'service_zone__256': 'Boro Zone', 'Zone__257': 'Woodhaven', 'index__257': 257, 'LocationID__257': 258, 'Borough__257': 'Queens', 'service_zone__257': 'Boro Zone', 'Zone__258': 'Woodlawn/Wakefield', 'index__258': 258, 'LocationID__258': 259, 'Borough__258': 'Bronx', 'service_zone__258': 'Boro Zone', 'Zone__259': 'Woodside', 'index__259': 259, 'LocationID__259': 260, 'Borough__259': 'Queens', 'service_zone__259': 'Boro Zone', 'Zone__260': 'World Trade Center', 'index__260': 260, 'LocationID__260': 261, 'Borough__260': 'Manhattan', 'service_zone__260': 'Yellow Zone', 'Zone__261': 'Yorkville East', 'index__261': 261, 'LocationID__261': 262, 'Borough__261': 'Manhattan', 'service_zone__261': 'Yellow Zone', 'Zone__262': 'Yorkville West', 'index__262': 262, 'LocationID__262': 263, 'Borough__262': 'Manhattan', 'service_zone__262': 'Yellow Zone', 'Zone__263': 'NV', 'index__263': 263, 'LocationID__263': 264, 'Borough__263': 'Unknown', 'service_zone__263': None, 'Zone__264': None, 'index__264': 264, 'LocationID__264': 265, 'Borough__264': 'Unknown', 'service_zone__264': None}]
(Background on this error at: https://sqlalche.me/e/20/f405)